<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/skillbox?useUnicode=true&amp;serverTimezone=UTC&amp;useSSL=false&amp;verifyServerCertificate=false
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">eH3mVr7a</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="core.Student"></mapping>
        <mapping class="core.Course"></mapping>
        <mapping class="core.Teacher"></mapping>
        <mapping class="core.Subscription"></mapping>
        <mapping class="core.SubscriptionPK"></mapping>
        <mapping class="core.StudentsOrders"></mapping>
        <mapping class="core.StudentsOrdersKey"></mapping>
        <mapping class="core.Purchase"></mapping>
    </session-factory>
</hibernate-configuration>